@media only screen and ( max-width: 1200px){
    .jio_img{
        display: none;
    }
}

.Login_container{
    display: flex;
    max-width: 1500px;
    margin: auto;
    justify-content: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    text-align: center;
}

.Input_form{
  margin: auto;
  padding: 40px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  min-width: 350px;
  max-width: 450px;
}

.input_feild{
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 10px auto;
    min-width: 350px;
    border: 1px solid black;
    border-radius: 5px;
}

.login_btn{
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    background-color: #0078AC;
    color: white;
    border: none;
    border-radius: 40px;
}

.line{
    width: 45%;
    background-color: black;
    height: 1px;
    display: inline-block;
}

